@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');

.App {
  text-align: center;
}

.header {
  font-family: 'Martian Mono', monospace;
  color: #F7DBA7;
  background-color: #1E2D2F;
  padding: 2em;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
}

.graph {
  height: 50em;
  width: 50em;
}



.exp {
  max-width: 30em;
  padding-bottom: 7em;
}
.exp h1, p {
  font-family: 'Martian Mono', monospace;
}

/* .exp h1{
  font-size: medium;
}

.exp p{
  font-size: small;
} */

.exp b{
  color: #B10F2E;
}


.num-in, label{
  font-family: 'Martian Mono', monospace;
  font-size: larger;
  border: 0;
  width: 3em;
  color: #B10F2E;
  text-align: center;
}


.xin, .yin{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.num-in:focus {
  outline: none;
}

.underline {
  transition: all 0.5s;
  display: inline;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #B10F2E;
}

.num-in:focus+.underline{
  left: 0;
}

.footer {
  font-family: 'Martian Mono', monospace;
  margin-top: 3em;
  color: #F7DBA7;
  background-color: #1E2D2F;
  padding: 4em;
  text-align: center;
}
