.App {
  text-align: center;
}

.header {
  background-color: antiquewhite;
  padding: 2em;
  text-align: center;
}

.graph {
  height: 50em;
  width: 50em;
  margin: 0 auto;
}

.footer {
  margin-top: 3em;
  background-color: antiquewhite;
  padding: 4em;
  text-align: center;
}
