@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');

.App {
  text-align: center;
}

.header {
  font-family: 'Martian Mono', monospace;
  color: #F7DBA7;
  background-color: #1E2D2F;
  padding: 2em;
  text-align: center;
}

.graph {
  height: 50em;
  width: 50em;
  margin: 0 auto;
}

#var-in {
  margin-left: 30%; 
}

.num-in, label{
  font-family: 'Martian Mono', monospace;
  font-size: medium;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 3em;
}

.footer {
  font-family: 'Martian Mono', monospace;
  margin-top: 3em;
  color: #F7DBA7;
  background-color: #1E2D2F;
  padding: 4em;
  text-align: center;
}
